// color variable
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;

//Grid variable
$grid-width: 114rem;
$grid-verical: 8rem;
$grid-horizontal: 6rem;
